<header>
	<nav>
		<div id="headerLinksContainer">
			<a href="/" class="headerLink">Home</a>
			<a href="/" class="headerLink">About</a>
			<a href="/" class="headerLink">Contact</a>
		</div>
	</nav>
</header>
